<h1 class="mt-5">Welcome to InstaClone</h1>

<p class="lead">Please register or sign in</p>

<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success"  %>
<%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary"  %>